.js-container { /* set everything in % relative to the body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-color: aquamarine;
    overflow: auto;
}
h1 {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
}

h2 {
    display: flex;
    justify-content: center;
    width: 5%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    font-size: 2.5vh;
    
}

.datebox, .crossbox, .tickbox {
    background-color: red;
}

.todaybox {
    background-color: lightskyblue; 
}

.todaybox, .datebox, .tickdiv, .crossdiv{
    display: flex; /* flex direction only affects child,*/
    aspect-ratio: 1/1;
    width: 5%;
    justify-content: center; 
    align-items: center;
    outline:5px solid black;
    margin: 1.6%;
}

.week{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: beige;
    flex: 1;
    height: auto;
    width: 100%;
}
.weekdaybar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.tickbox, .crossbox {

    height: auto;
    width: 100%;

    
}



#cheatDay {
    position: absolute;
    top: 5%;
    right: 5%;
    rotate: 10deg;
    font-size: 1.5vw;
}

#resetButton {
    position: absolute;
    left: 90vw;
}

#trueButton {
    width: 80%;
    height: 60%;
}

#buttonDiv {
    width: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    height: 5%;
    width: 100%;
    margin: 0;
    font-size: 4vh;
}

.weekdaybar {
    height: 5%;
    width: 100%;
}

.month {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

#info {
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

#streak {
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#nextCheatDay {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monthandyear {
    position: absolute;
    top: 1%;
    right: 85%;
}

h3 {
    font-size: 2vw;
}